<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - Lost & Found</title>
    <link rel="stylesheet" href="static/app.css">
</head>
<body class="app-layout">

    <div class="navbar">
    <!-- LEFT: User -->
    <div style="display: flex; align-items: center; gap: 10px; position: relative;">
        <div class="avatar" id="user-menu-btn" onclick="toggleUserMenu()">
            AM
        </div>

        <!-- dropdown -->
        <div id="user-dropdown" class="user-dropdown hidden">
            <p class="email">studentemail@southernct.edu</p>
            <hr>
            <a href="/">Logout</a>
        </div>
    </div>

    <!-- CENTER: Title -->
    <h2>Dashboard</h2>

    <!-- RIGHT: Search -->
    <div class="search-bar">
        <span style="font-size: 20px; margin-right: -8px;">&#128269;</span>
        <input type="text" style="font-size: 16px;" id="search-input" placeholder="Find your item...">
    </div>

    <!-- SETTINGS -->
    <div>
        <select onchange="location = this.value;" style="padding: 5px; font-size: 16px; margin-right: 60px;">
            <option value="#">Settings</option>
            <option value="/createlisting">Create Listing</option>
            <option value="/my_listings">My Listings</option>
            <option value="/messages">Messages</option>
        </select>
    </div>

</div>

    <div class="filter-menu" id="filter-menu">
        <a href="#" class="active" >Apply All</a>
        <a href="#">Accessories</a>
        <a href="#">Apparel</a>
        <a href="#">Books</a>
        <a href="#">Electronics</a>
        <a href="#">Other</a>
        <a href="#">Claimed Listings</a>
    </div>

    <div class="grid-container" id="listings-grid">
        {% for post in posts %}
        <div class="card" onclick="location.href='/listing-info?id={{ post.id }}'" style="cursor: pointer;">
            <div class="card-img">
                {% if post.image_url %}
                    <img src="{{ url_for('static', filename=post.image_url) }}" alt="{{ post.item_name }}" style="max-width: 100%; max-height: 100%; border-radius: 8px; object-fit: cover;">
                {% else %}
                    No Image
                {% endif %}
            </div>
            <p><strong>{{ post.item_name }}</strong><br>Found in {{ post.location }}.</p>
        </div>
        {% else %}
            <p style="grid-column: 1 / -1; text-align: center; color: #565656;">No listings found. Be the first to create one!</p>
        {% endfor %}
    </div>

    <script src="static/dashboard.js"></script>
</body>
</html>