<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/auth.css">
</head>
<body>

<h2>
    Lost 
    <img src="static/magnify glass.png" alt="Magnifying glass icon"> 
    Found
</h2>

<div class="auth-container">
    <h3>Sign into your account!</h3>
    
    <p id="login-error" class="auth-error"></p>

    <form action="/dashboard" onsubmit="handleLoginSubmit(event)">
        <input type="email" id="login-email" placeholder="School Email" required><br><br>
        <input type="password" placeholder="Password" required><br><br>
        <button class="auth-signin-button" type="submit">Sign in</button>
    </form>

    <p class="auth-links">
        <a href="/register">Don't have an account?</a> <br>
        <a href="/forgot-password" class="auth-link">Forgot Password?</a>
    </p>
</div>

<script src="static/validation.js"></script>
<script src="static/login.js"></script>
</body>
</html>